* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-size: cover;
    background-color: rgba(18, 9, 155, 0.699);
    font-size: 28px;
    position:relative;
}

header img {
    display: flex;
    height: 140px;
    border: solid 2px #a57881;
    border-radius: 25px;
}

main {
    position: relative;
    height: 500px;
}

nav {
    font-size: 24px;
    display: inline-block;
    flex-direction: column;
    background-color: purple;
    width: 200px;
    height: 500px;
    justify-content: space-between;
    position:relative;
}

#about-me {
    flex-wrap: wrap;
    display: inline-block;
    position:absolute;
    height: 500px;
    align-content: center;
}

#about-me h3 {
    padding-left: 20px;
    font-size: 30px;
}

#about-me p {
    font-size: 20px;
    position: relative;
    flex-wrap:wrap;
    display:flex;
    width: 50%;
    padding: 0 0 20px 10px;
    border-bottom: blue solid 5px;
}

#about-me b {
    padding: 10px;
    font-size: 30px;
}

main img {
    height:70%;
    position: relative;
    float:right;
    border: 3px solid;
    border-radius: 50px;
    margin: 30px 100px 0 0;
}

#work {
    width: 100%;
    height: 600px;
    position: relative;
}

#work h3 {
    width: 100%;
    display:flex;
    font-size: 30px;
    background-color: blue;
    margin: 10px 0;
    padding: 10px 0 10px 35%;
}

.works-cited {
    display: flex;
    flex-flow: wrap;
    position: relative;
}

.works-cited a {
    width:35%;
}

.works-cited img {
    width:500px;
    padding: 0 50px 20px;
    flex-wrap: wrap;
    height: 100%;
    margin-right:65px;
    align-items: stretch;
}

nav ul a {
    text-decoration: none;
    color:black
}

ul {
    margin: 75px 10px;
    cursor: pointer;
}

div i {
    font-size:40px;
    padding: 0 30px;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400; 
    font-size: 100px;
    padding: 20px;
    position:absolute;
    left: 200px;
  }

